<%- include('partials/header') %>

<h1><%= categoryData.name %></h1>

<div class="vehicle-grid">
<% if (vehicles.length=== 0) { %>
    <p>No vehicles in this category.</p>
<% } %>
<% vehicles.forEach(vehicle => { %>
    <div class="vehicle-card">
        <a href="/category/<%= vehicle.category_id %>/<%= vehicle.id %>"><img src="<%= vehicle.image %>" alt="<%= vehicle.name %>"></a>
        <section>
            <div>
                <a href="/category/<%= vehicle.category_id %>/<%= vehicle.id %>"><%= vehicle.name %> </a>
                <h3>Price: <span>$<%= Number(vehicle.price).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span></h3>
            </div>
            <button>
                <a href="/category/<%= vehicle.category_id %>/<%= vehicle.id %>">View Car</a>
            </button>
        </section>
    </div>
<% }) %>
</div>

<%- include('partials/footer') %>