<%- include('partials/header') %>
    <h1>Manage Reviews</h1>

    <div>
        <% if (reviews.length === 0) { %>
            <h2>No Reviews to Manage</h2>
        <% } else { %>
            <% reviews.forEach(review => { %>
                <div>
                    <h3><%= review.name %></h3>
                    <p><%= review.review_text %></p>
                    <form action="/reviews/delete/<%= review.id %>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% }) %>
        <% } %>
    </div>
<%- include('partials/footer') %>