<%- include('partials/header') %>

<h1><%= vehicle.name %></h1>

<img src="<%= vehicle.image %>" alt="<%= vehicle.name %>">

<% if (user && user.role_name === "user") { %>
    <a href="/reviews/<%= category %>/<%= vehicle.id %>">Leave a Review</a>
<% } %> 
<%- include('partials/footer') %>