<%- include('partials/header') %>

<h1><%= vehicle.name %></h1>

<img src="<%= vehicle.image %>" alt="<%= vehicle.name %>">

<!-- if they are a user they can leave, edit, and delete reviews -->
<%- include('partials/footer') %>