<%- include('../partials/header') %>
    <h1>Manage Repairs</h1>

    <div class="repairdiv">
        <% if (requests.length === 0) { %>
            <h2>No Repairs</h2>
        <% } else { %>
            <% requests.forEach(request => { %>
                <div class="repairs">
                    <h3><%= request.vehicle_name %></h3>
                    <p><%= request.description %></p>
                    <h4><span><%= request.status %></span></h4>
                    <a class="edit" href="/repair/edit/<%= request.id %>">Edit</a>
                </div>
            <% }) %>
        <% } %>
    </div>

<%- include('../partials/footer') %>