<%- include('../partials/header') %>
    <h1>Manage Repairs</h1>

    <div>
        <% if (requests.length === 0) { %>
            <h2>No Repairs</h2>
        <% } else { %>
            <% requests.forEach(request => { %>
                <div>
                    <h3><%= request.vehicle_name %></h3>
                    <h2><%= request.status %></h2>
                    <p><%= request.description %></p>
                    <a href="/repair/edit/<%= request.id %>">Edit</a>
                </div>
            <% }) %>
        <% } %>
    </div>

<%- include('../partials/footer') %>