<%- include('../partials/header') %>
    <h1>Your Repair Requests</h1>

    <div>
        <% if (requests.length === 0) { %>
            <h2>No Repairs Yet</h2>
        <% } else { %>
            <% requests.forEach(repair => { %>
                <div class="repairs">
                    <h3><%= repair.vehicle_name %></h3>
                    <p><%= repair.description %></p>
                    <h4><span><%= repair.status %></span></h4>
                </div>
            <% }) %>
        <% } %>
        <div class="repair-container">
            <a class="repair" href="/repair/create">Create Repair Request</a>
        </div>
    </div>
<%- include('../partials/footer') %>